{{#extend "base-layout"}}

{{#content "body"}}

    <blockquote>
        <p class="lead">Uh oh! We couldn't find that page. Please go back to the <a href="/">homepage</a>.</p>
    </blockquote>

{{/content}}

{{/extend}}
